body {
    background-image: url("../static/backgroundpic.jpeg") ;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}
h1{
	text-align: center;
}

.logo{
	position:relative; 
   margin-left:-100px;
   left:50%;
   width:200px;
   
  top:40px;
}

#con
{


    position: relative;
  }

#audio{
    position: absolute;
    bottom: 0;

}
a {
  color: inherit;
  text-decoration: inherit;
}
#gy {
  color: white;
  padding: 6px 8px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #00000;

  background: rgba(0,0,0,0.2);
  font-family: roboto;
  font-size: 36pt;


position:absolute; 
   margin-left:-150px;
   left:50%;
   width:300px;
   bottom:60px;

}

#gy:hover {
   background: rgba(0,0,0,0.4); 
   color:rgb(224,224,224) ;
}

body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

/* Basic styling */

.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}