<html>

<head> <title>About</title>

	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
   <style>

    h1{
    	font-family: roboto;
    	text-align: center;
    }
.logo
{
	text-align: center;
}

p{
text-align: center;
font-family: roboto;
font-size: 20px;
border: 45px;

}

	</style>
 <link href='../static/aboutme.css' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="../static/favicon-16.png"/>
<link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
</head>

<body>
	<div class="logo">
		<img src="../static/favicon-192.png">

	</div>

 <h1>Welcome !</h1>
 
 <p> My Lagos App is a web aplication that gives you live traffic updates from twitter! </p>
 <!--<script type="text/javascript">
    document.getElementById("gy").onclick = function () {
        location.href = "livefeed.html";
    };
</script>-->


</body>



</html>