<html>

<head> <title>My Lagos App</title>
 <link href='../static/style.css' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="../static/favicon-16.png"/>
<link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
</head>

<body>
	<div class="logo">
		<img src="../static/logo.png">

	</div>

 <button id="gy"><a href="liveFeed">ENTER SITE</button>

<div class = "con">
 <audio id="audio" controls autoplay>
  <source src="../static/traffic.ogg" type="audio/ogg">
  <source src="../static/traffic.mp3" type="audio/mpeg">

</audio>
</div>
 <!--<script type="text/javascript">
    document.getElementById("gy").onclick = function () {
        location.href = "livefeed.html";
    };
</script>-->


</body>



</html>